{% extends "flights/layout.html" %}

{% block body %}
<h1>Flights</h1>
<ul>
  {% for flight in flights %}
  <li>
    <a href="{% url 'flight' flight.id %}">
      Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}</li>
    </a>

  {% endfor %}
</ul>

{% endblock %}