{% extendeds "users/layout.html"%}

{% block body %}
{% if message %}
<div>{{ message }}</div>
{% endif %}
<form action="% url 'login' %" method="post">
 {% csrf_token %}
    <input tupe="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
{% endblock %}




